<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="Shop" content="FrontPage.By.Ruben.Vardanyan" />
    <meta name="Furniture" content="FrontPage.By.Ruben.Vardanyan" />

    <meta charset="utf-8" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <title>The Inventory Emporium- Bedroom!</title>
  </head>
  <body id="body-start">
    <!-- header -->
    <div class="container-fluid">
      <div class="row align-items-center p-2 b25 text-light">
        <div class="col-md-3 d-none d-md-block h4 my-2">(+91) 987-297-2339</div>
        <div class="col-md-7 d-none d-md-block h2 text-center my-2">
          Welcome to The Inventory Emporium!
        </div>

        <!-- Logout  -->
        <div class="col-6 col-md-2 pr-3">
          <div class="dropdown float-right">
            <button
              class="btn b1 text-white dropdown-toggle btn-outline-dark"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              My account
            </button>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuButton"
            >
              <a class="dropdown-item" href="{{url_for('home')}}"> Home </a>
              <!-- Profile  -->
              <a
                class="dropdown-item"
                href="{{url_for('profile')}}"
                id="flask_profile"
                >Profile</a
              >

              <a class="dropdown-item" href="{{url_for('myorders')}}"
                >My Orders</a
              >
              <a class="dropdown-item" href="{{url_for('settings')}}"
                >Account Settings</a
              >
              <!-- Logout  -->
              <a
                class="dropdown-item"
                href="{{url_for('logout')}}"
                id="flask_logout"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header -->

    <!-- Top Image -->

    <!-- Alert message -->

    <div
      class="alert b25 text-light alert-dismissible fade show m-0 rounded-0 fixed-bottom"
      role="alert"
      style="opacity: 0.9"
    >
      We work five days a week, 24 hours a day!!!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- deligation end -->

    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
    messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{msg}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <!-- Shop by department-icons -->

    <div class="container" id="depart">
      <h3
        class="d-flex justify-content-center justify-content-sm-start mt-5 mb-3"
      >
        Department - Bedroom
      </h3>
    </div>

    <!-- New offers -->

    <div class="container" id="newOffers">
      <div class="row my-2 justify-content-center">
        <!-- Image 1 -->
        <div class="col-12 col-sm-6 col-lg-4">
          <form action="{{url_for('place_order')}}" method="POST">
            <div class="card border-0">
              <img
                src="{{ url_for('static', filename='image/bedroom_1.png') }}"
                class="card-img-top border-0"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                  Cozy Retreat
                </h5>
                <p class="card-text text-center">
                  Sleep in your own private sanctuary and wake up refreshed.
                </p>
              </div>
              <input type="hidden" name="category" value="bedroom_1" />
              <input type="hidden" name="price" value="367" />
              <input type="hidden" name="heading" value="Cozy Retreat" />
              <input
                type="hidden"
                name="description"
                value="Sleep in your own private sanctuary and wake up refreshed."
              />
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Buy Now
              </button>
            </div>
          </form>
        </div>

        <!-- Image 2 -->
        <div class="col-12 col-sm-6 col-lg-4">
          <form action="{{url_for('place_order')}}" method="POST">
            <div class="card border-0">
              <img
                src="{{ url_for('static', filename='image/bedroom_2.png') }}"
                class="card-img-top border-0"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                  Peaceful Haven
                </h5>
                <p class="card-text text-center">
                  Experience blissful sleep in our comfortable bedrooms.
                </p>
              </div>
              <input type="hidden" name="category" value="bedroom_2" />
              <input type="hidden" name="price" value="345" />
              <input type="hidden" name="heading" value="Peaceful Haven" />
              <input
                type="hidden"
                name="description"
                value="Experience blissful sleep in our comfortable bedrooms."
              />
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Buy Now
              </button>
            </div>
          </form>
        </div>

        <!-- Imgae 3  -->
        <div class="col-12 col-sm-6 col-lg-4">
          <form action="{{url_for('place_order')}}" method="POST">
            <div class="card border-0">
              <img
                src="{{ url_for('static', filename='image/bedroom_3.png') }}"
                class="card-img-top border-0"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                  Sleeping Quarters
                </h5>
                <p class="card-text text-center">
                  Transform your sleeping space into a peaceful haven.
                </p>
              </div>
              <input type="hidden" name="category" value="bedroom_3" />
              <input type="hidden" name="price" value="294" />
              <input type="hidden" name="heading" value="Sleeping Quarters" />
              <input
                type="hidden"
                name="description"
                value="Transform your sleeping space into a peaceful haven."
              />
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Buy Now
              </button>
            </div>
          </form>
        </div>

        <!-- Image 4  -->
        <div class="col-12 col-sm-6 col-lg-4 my-5">
          <form action="{{url_for('place_order')}}" method="POST">
            <div class="card border-0">
              <img
                src="{{ url_for('static', filename='image/bedroom_4.png') }}"
                class="card-img-top border-0"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                  Restful Oasis
                </h5>
                <p class="card-text text-center">
                  Indulge in luxury and comfort with our premium bedroom
                  designs.
                </p>
              </div>
              <input type="hidden" name="category" value="bedroom_4" />
              <input type="hidden" name="price" value="485" />
              <input type="hidden" name="heading" value="Restful Oasis" />
              <input
                type="hidden"
                name="description"
                value="Indulge in luxury and comfort with our premium bedroom designs."
              />
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Buy Now
              </button>
            </div>
          </form>
        </div>

        <!-- Image 5 -->
        <div class="col-12 col-sm-6 col-lg-4 my-5">
          <form action="{{url_for('place_order')}}" method="POST">
            <div class="card border-0">
              <img
                src="{{ url_for('static', filename='image/bedroom_5.png') }}"
                class="card-img-top border-0"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                  Dreamy Sanctuary
                </h5>
                <p class="card-text text-center">
                  Get a good night's rest in our cozy bedrooms.
                </p>
              </div>
              <input type="hidden" name="category" value="bedroom_5" />
              <input type="hidden" name="price" value="649" />
              <input type="hidden" name="heading" value="Dreamy Sanctuary" />
              <input
                type="hidden"
                name="description"
                value="Get a good night's rest in our cozy bedrooms."
              />
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Buy Now
              </button>
            </div>
          </form>
        </div>

        <!-- Image 6  -->
        <div class="col-12 col-sm-6 col-lg-4 my-5">
          <form action="{{url_for('place_order')}}" method="POST">
            <div class="card border-0">
              <img
                src="{{ url_for('static', filename='image/bedroom_6.png') }}"
                class="card-img-top border-0"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                  Comfortable Space
                </h5>
                <p class="card-text text-center">
                  Create your own dreamy escape with our beautifully designed
                  bedrooms.
                </p>
              </div>
              <input type="hidden" name="category" value="bedroom_6" />
              <input type="hidden" name="price" value="532" />
              <input type="hidden" name="heading" value="Comfortable Space" />
              <input
                type="hidden"
                name="description"
                value="Create your own dreamy escape with our beautifully designed bedrooms."
              />
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Buy Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- End new offers-->

    <!-- footer -->
    <!-- scroll go top start -->
    <a id="myBtn" class="gotopbtn" href="#body-start"
      ><img
        src="https://cdn3.iconfinder.com/data/icons/road-sign/154/road-sign-top-arrow-yellow-attention-512.png"
        width="50"
        height="50"
        loading="lazy"
    /></a>
    <!-- scroll end -->
    <!-- loading start -->
    <div class="loader-wrapper">
      <div class="loader-inner">
        <div class="st1"></div>
        <div class="st2"></div>
        <div class="st3"></div>
      </div>
    </div>
    <!-- loading end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
      });
      //scroll Top
      //Get the button
      var mybutton = document.getElementById("myBtn");
      mybutton.style.display = "none";
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 500 ||
          document.documentElement.scrollTop > 500
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
