<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <div class="LoginPageContainer">
      <div class="LoginPageInnerContainer">
        <div class="ImageContianer">
          <img
            src="{{ url_for('static', filename='image/login_left.png') }}"
            class="GroupImage"
          />
        </div>

        <div class="LoginFormContainer">
          <div class="LoginFormInnerContainer">
            <div class="LogoContainer">
              <img
                src="{{ url_for('static', filename='image/login_logo.png') }}"
                class="logo"
              />
            </div>
            <header class="header">Log in</header>
            <header class="subHeader">
              Welcome to <b>The Inventory Emporium!</b> Please Enter your
              Details
            </header>

            {% with messages = get_flashed_messages() %} {% if messages %} {%
            for msg in messages %}
            <div
              class="alert alert-warning alert-dismissible fade show"
              role="alert"
            >
              {{msg}}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% endfor %} {% endif %} {% endwith %}

            <form action="{{url_for('login_validation')}}" method="POST">
              <div class="inputContainer">
                <label class="label" for="emailAddress"
                  ><img
                    src="{{ url_for('static', filename='image/login_email.png') }}"
                    class="labelIcon"
                  /><span>Email Address*</span></label
                >
                <input
                  type="email"
                  name="email"
                  class="input"
                  id="emailAddress"
                  placeholder="Enter your Email Address"
                  value="{{email if email}}"
                />
              </div>
              <div class="inputContainer">
                <label class="label" for="password"
                  ><img
                    src="{{ url_for('static', filename='image/login_pass.png') }}"
                    class="labelIcon"
                  /><span>Password*</span></label
                >
                <input
                  type="password"
                  name="password"
                  class="input"
                  id="password"
                  placeholder="Enter your Password"
                />
              </div>
              <div class="OptionsContainer">
                <div class="checkboxContainer">
                  <input type="checkbox" id="show_password" class="checkbox" />
                  <label for="show_password">Show Password</label>
                </div>
                <a href="#" class="ForgotPasswordLink">Forgot Password?</a>
              </div>
              <button class="LoginButton" type="submit">Login</button>
              <header class="subHeader">
                <p>
                  Not a member?
                  <a
                    class="btn btn-outline-dark mx-1 my-2"
                    href="{{url_for('register')}}"
                    role="button"
                    id="direct_register"
                    >Sign Up</a
                  >
                </p>
              </header>
            </form>

            <!-- show_password function -->
            <script>
              var passwordField = document.getElementById("password");
              var showPasswordCheckbox =
                document.getElementById("show_password");

              showPasswordCheckbox.addEventListener("change", function () {
                if (showPasswordCheckbox.checked) {
                  passwordField.type = "text";
                } else {
                  passwordField.type = "password";
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
