<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">

  </head>
  <body>
    <div class="LoginPageContainer">
      <div class="LoginPageInnerContainer">
        <div class="ImageContianer">
          <img src="{{ url_for('static', filename='image/login_left.png') }}" class="GroupImage" >
        </div>
        <div class="LoginFormContainer">
          <div class="LoginFormInnerContainer">
            <div class="LogoContainer">
              <img src="{{ url_for('static', filename='image/login_in_logo.png') }}" class="logo" />
            </div>
            <header class="header">Sign Up</header>
            <header class="subHeader">
              Welcome to <b>The Inventory Emporium!</b> Please Enter your Details
            </header>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for msg in messages %}
                  <div class="alert alert-warning" role="alert">
                    <p> {{msg}} </p>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form action = "{{url_for('registration_validation')}}" method="POST">
              <div class="inputContainer">
                <label class="label" for="email"
                  ><img
                    src="{{ url_for('static', filename='image/login_email.png') }}"
                    class="labelIcon"
                  /><span>Email Address*</span></label
                >
                <input
                  type="email"
                  class="input"
                  id="emailAddress"
                  placeholder="Enter your Email Address"
                  name = "email"
                />
              </div>
              <div class="inputContainer">
                <label class="label" for="password"
                  ><img
                    src="{{ url_for('static', filename='image/login_pass.png') }}"
                    class="labelIcon"
                  /><span>Password*</span></label
                >
                <input
                  type="password"
                  class="input"
                  id="password"
                  placeholder="Enter your Password"
                  name = "password"
                />
              </div>
 
              <!-- change this area  -->
              <div class="inputContainer">
                <label class="label" for="confirm_password"
                  ><img
                    src="{{ url_for('static', filename='image/login_pass.png') }}"
                    class="labelIcon"
                  /><span>Confirm Password*</span></label
                >
                <input
                  type="password"
                  class="input"
                  id="confirm_password"
                  placeholder="Confirm your Password"
                  name = "confirm_password"
                />
              </div>

              <button class="LoginButton" type="submit" >Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
